<table class="board">
@for (int h = 0; h < Height; h++)
{
    <tr class="board-row">
        @for (int w = 0; w < Width; w++)
        {
            var cell = Board.Cells[Width * h + w];
            var type = (int)cell.Type;
            <td id="cell-@h-@w" class="board-cell type-@type" onclick="document.getElementById('cell-@h-@w').style.background='red'"></td>
        }
    </tr>
}
</table>
